<h1>What is this website about, you may ask? </h1>

<p>
<a href = "http://www.imdb.com/name/nm0000168/"> MR. SAMUEL L JACKSON </a>
</p>

<iframe src="//giphy.com/embed/l2JJEIMLgrXPEbDGM" width="1000" height="562.5" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/starwars-movie-star-wars-l2JJEIMLgrXPEbDGM">via GIPHY</a></p>

<%= link_to "Home", root_path %>