<div class ="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://getbootstrap.com"> Created using Bootstrap </a>
			by <a href="http://twitter.com/Alan_Yu039"> Alan Yu </a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %> </li>
			</ul>
		</nav>
	</footer>
</div>