<div class ="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://getbootstrap.com"> Created using Bootstrap </a> by Alan Yu
		</small>
		<small-right>
			<ul>
				<li><%= link_to "About", about_path %> </li>
				<li><a href="https://www.twitter.com/Alan_Yu039"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
				<li><a href="mailto:alan.yu039@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
			</ul>
		</small>
	</footer>
</div>